apiVersion: v1
kind: Service
metadata:
  name: kubvox-service
spec:
  selector:
    app: kubvox
  # NodePort permet d'accéder au service depuis l'extérieur du cluster via l'IP du noeud
  type: NodePort
  ports:
    - name: sip-udp
      protocol: UDP
      port: 5060
      targetPort: 5060
      nodePort: 30060 # Port fixe pour faciliter la config des softphones
    - name: sip-tcp
      protocol: TCP
      port: 5060
      targetPort: 5060
      nodePort: 30060
